dist: trusty
sudo: false

language: python

notifications:
  email: false

services:
  - redis-server
  - docker

addons:
  postgresql: "9.5"
  apt:
    packages:
      - net-tools
      - libpcre3-dev
      - build-essential

env:
  global:
    - LUAROCKS=2.4.3
    - OPENSSL=1.1.1
    - OPENRESTY_BASE=1.13.6.2
    - OPENRESTY_LATEST=1.13.6.2
    - OPENRESTY=$OPENRESTY_BASE
    - DOWNLOAD_CACHE=$HOME/download-cache
    - INSTALL_CACHE=$HOME/install-cache
    - KONG_TEST_PG_USER=postgres
    - JOBS=2
  matrix:
    - KONG_TEST_DATABASE=postgres TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=integration
    - KONG_TEST_DATABASE=postgres TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=postgres TEST_SUITE=old-integration
    - KONG_TEST_DATABASE=postgres TEST_SUITE=old-plugins
    - TEST_SUITE=pdk

install:
  - source .ci/setup_env.sh

cache:
  apt: true
  pip: true
  directories:
    - $DOWNLOAD_CACHE
    - $INSTALL_CACHE
    - $HOME/.ccm/repository

stages:
  - lint and unit

jobs:
  include:
    - stage: lint and unit
      script:
      - pushd $KONG_DOWNLOAD && luacheck -q . && popd
      - pushd $KONG_DOWNLOAD && bin/busted -v -o gtest spec/01-unit && popd
      - pushd $KONG_DOWNLOAD && bin/busted -v -o gtest spec-old-api/01-unit && popd
      env:
        - KONG_DATABASE=none

script:
  - .ci/run_tests.sh
